<!DOCTYPE html>
<html>
  <head>
    <title>mpay-demo</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
    <script src="{{ static_url("jquery.js")}}"></script>
    <script>
      $(function(){
        $("#pay").on("click",function(){
          var r = confirm("Are you sure to pay 5GHC?");
          if (r == true) {
            $.ajax({
              url: "http://localhost:8888/",
              type: "POST",
              data: "test",
              success: function(data,status){
                console.log("post data");
              }
            });
            } else {
          }
        });
      });
    </script>
  </head>
  <body>
    <h1>Internet Payment using Mobile Money Demo</h1>
    <div id="container">
      <div id="main">
        <div id="left">
          <h3>Product </h3>
          <img src="{{ static_url("chocolate.png")}}">
          <p>Product: Golden Tree Chocolate</p>
          <p>Price: 5GHC</p>
          <button id="pay" style="height:30px;width:100px;">Pay</button>
        </div>
        <div id="center">
          <h3>Seller's infomation </h3>
          <p>name: Douglas Papin</p>
          <p>Tel: 0245511543 </p>
          <p>Address: Effia Kuma, Takoradi, Ghana</p>
          <hr />
          <h3>Your infomation </h3>
          <p><span>Name: </span><input type="text" value="Stephen Quagraine"/></p>
          <p><span>Address: </span><input type="text" value="Address: Effia Kuma, Takoradi, Ghana" /></p>

          <!-- <p><span>Telephone: </span><input type="text" value="233241943721" /></p> -->


        </div>
        <div style="clear:both;"></div>

      </div>
    </div>
  </body>
</html>

